* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    width: 100%;
    height: 100px;
    /*  border: 1px solid red;*/
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /*centraliza o elemento*/
    /*  border: 2px solid green;*/
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header img {

    width: 130px;
}


.menu {
    display: flex;
    justify-content: space-between;
    width: 350px;
    /* border: 2px solid blue;*/
}

.menu a {
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: 600;
}




/*banner*/

.banner {
    position: relative;
    top: 0;
    left: 0;
    border: 2px solid green;
}

.banner img {
    width: 100%;
}

/*botao*/
.banner a {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: aliceblue;
    width: 150px;
    background-color: black;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: 600;
}